* {
  background: #f8f8ff;
  font-family: 'Montserrat', sans-serif;
}
.App {
  min-height: 100vh;
  position: relative;
}
.global-header {
  background: #fff !important;
}
.longNameLogo {
  background: #fff;
  height: 30%;
  width: 30%;
}
.sub-links {
  background: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.sub-link {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  opacity: 50%;
}
.sub-link:hover {
  color: #000;
}
.sub-link.active {
  color: #be1e2d;
  font-weight: bold;
}
.page-body {
  margin-top: 2.5rem;
  padding-bottom: 5rem;
}
.about-us-profile-img {
  float: right;
  margin: 5px;
  max-height: 300px;
  object-fit: cover;
  width: 300px;
}
@media (max-width: 992px) {
  .about-us-profile-img {
    float: none !important;
 }
}
.app-footer {
  border-top: 0.125rem solid #be1e2d;
  bottom: 0;
  display: block;
  height: 5rem;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  position: absolute;
  width: 100%;
}
.social-links {
  margin: 0rem 2.8125rem;
}
.subt {
  font-family: 'Montserrat';
  font-size: 0.5rem;
  margin-top: 0.5rem;
}
